body{
background-color: #D2B48C;
}

.navbar{
width: 100%;
align-items: flex-start;
}

ul{
  text-align: center;
  display: flex;
}

li{
  list-style: none;
  padding: 10px;
  flex-direction: row;
}

.otherside{
  margin-left: auto;
}

.tacos{
  max-width:94%;
  height: auto;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 50px;
}



/* text selectors */

h1{
  text-align: center;
}

h2{
  text-align: center;
}
